	<footer class="clearfix">
		<div class="inner-wrapper">
			<p class="footer-left">Supported by <a href="http://unilever.co.uk" target="_blank"><img src="/images/unilever-logo.png" alt="Unilever Logo"></a></p>
			<p class="footer-right"><span>A collaboration with</span><a href="http://swarm.gd" target="_blank"><img src="/images/swarm-logo.png" alt="Swarm Logo"></a></p>
		</div>
	</footer>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/script.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42365061-5', 'swarm.gd');
      ga('send', 'pageview');

    </script>

</body>
</html>