	<footer class="clearfix">
		<div class="inner-wrapper">
			<p class="footer-left">Supported by <a href="http://unilever.co.uk" target="_blank"><img src="/images/unilever-logo.png" alt="Unilever Logo"></a></p>
			<p class="footer-right"><span>A collaboration with</span><a href="http://swarm.gd" target="_blank"><img src="/images/swarm-logo.png" alt="Swarm Logo"></a></p>
		</div>
	</footer>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>