<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}—Break the Silence</title>
	<link rel="stylesheet" href="/main.css">
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="//use.typekit.net/nnt6ybp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="inner-wrapper">
			<a href="/"><img src="/images/bts-logo.png" alt="Break the silence logo"></a>
		</div>
	</header>

	<nav>
		<div class="inner-wrapper">
			<h2>A White Pencil Lab Experiment <a href='https://twitter.com/search?q=%23whitepencilswarm' target="_blank">#whitepencilswarm</a></h2>
			<ul>
				<li><a href="/">Home</a>&nbsp;/&nbsp;</li>
				<li><a href="/ideas/">Ideas</a></li>
				<!-- <li><a href="#">Stay in Touch</a></li> -->
			</ul>
		</div>
	</nav>