p,a,h1,h2, label, input{
	font-family:franklin-gothic-urw, sans-serif;
}

a{
	text-decoration:none;
}

input{
	font-size:16px;
}
p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom:20px;
}

p.large{
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 30px;
}


//From bootstrap

//scaffolding
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  // background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

}



//
// Typography
// --------------------------------------------------


// Headings
// -------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

}

/*
h1, h2, h3{
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  .small {
    font-size: 65%;
  }
}
h4,
h5,
h6{
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  .small {
    font-size: 75%;
  }
} */



h1{ font-size: $font-size-h1; }
// h2{ font-size: $font-size-h2; }
h3{ font-size: $font-size-h3; }
/*
h4{ font-size: $font-size-h4; }
h5{ font-size: $font-size-h5; }
h6{ font-size: $font-size-h6; }

p {
  //margin: 0 0 ($line-height-computed / 2);
  margin: 0 0 20px;
}

.lead {
  margin-bottom: $line-height-computed;
  font-size: floor(($font-size-base * 1.15));
  font-weight: 200;
  line-height: 1.4;
}



// Contextual colors
// .text-muted {
//   color: $text-muted;
// }

*/